body {
  margin: 0px;
}
.top {
  font-size: 20px;
  background-color: rgb(5, 4, 4);
  font-size: 10px;
}
.headerLogo {
  padding-top: 15px;
  padding-left: 30px;
}
a:link nav ul li {
  list-style-type: none;
  display: inline-block;
  color: white;
  font-size: 15px;
  padding: 0px 15px 0px 5px;
  }
a:hover nav ul li {
  text-decoration: underline;
  color: rgb(15, 69, 100);
  }
nav {
  background-color: rgb(5, 4, 4);
  }
li {
  display: inline;
  }
.shipin {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px 0px 0px 0px;
  }
.jour, .dis {
  color: #2d2d2d;
  line-height: 1;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 1em 0 0.25em;
  }
  .wake, .start {
  color: #2d2d2d;
  line-height: 1;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 1em 0 0.25em;
  }
a {
  color: #2db6e8;
  font-size: 15px;
  text-decoration: none;
  }
a:hover {
  text-decoration: underline;
  color: #2db6e8;
  }
.tu1 {
  width: 255.5px;
  height: 255.5px;
  padding: 10px 5px 5px 20px;
}
.tu2 {
  width: 260px;
  height: 255.5px;
  padding: 10px 5px 5px 20px;
}
.tu3 {
  width: 255.5px;
  height: 255.5px;
  padding: 10px 5px 5px 20px;
}
.zi {
  color: rgb(66, 65, 65);
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  }
a:hover nav ul li {
  text-decoration: underline;
  color: aquamarine;
  }
nav {
  background-color: rgb(5, 4, 4);
  }
li {
  display: inline;
  }
.shipin {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0px 0px 0px 0px;
  }
a {
  color: #2db6e8;
  font-size: 15px;
  text-decoration: none;
  }
a:hover {
  text-decoration: underline;
  color: #2db6e8;
  }
.copy {
  text-align: center;
  padding-bottom: 30px;
  margin-top: 0;
}
.coppy {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}
.copyy {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.zi {
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 0px;
  }
.zi1 {
    color: black;
    font-size: 15px;
    padding-left: 165px;
    padding-top: 0px;
  }
  .copy {
    text-align: center;
    padding-bottom: 35px;
    margin-top: 20px;
  }
  .coppy {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
  }
  .copyy {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.abb {
  background-color: black;
  }
h5, h6{
  font-size: 10px;
  color: white;
  background-color: black;
  }
h6 span {
  text-decoration: underline;
  }
.opaka {
  background-color: #2d2d2d;
  color: #fff;
  padding: 20px;
  position: static;
  }
.promblock {
  font-family: Verdana, Tahoma, sans-serif;
}
.abb {
  background-color: black;
  }
h5, h6{
  font-size: 10px;
  color: white;
  background-color: black;
  }
h6 span {
  text-decoration: underline;
  }
.opaka {
  background-color: #2d2d2d;
  color: #fff;
  padding: 20px;
  position: static;
  }
.promblock {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  color: inherit;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  }
.promtext {
  font-size: 15px;
  }
.obutton {
  border-width: 0;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1;
  font-size: 0.8rem;
  border: 1px solid #2db6e8;
  color: #fff;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px 15px;
  text-align: center;
  background-color: #2db6e8;
  }
.icon-list__item svg { 
  fill: currentColor;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px;
  max-width: 80px;
  }
.o-icon svg {
  fill: currentColor;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px;
  max-width: 80px;
  }
p {
  font-size: small;
  color: #999;
  line-height: 1.2;
  text-decoration: none;
  }
.car, .weather, .accommodation, .bus{
  float: left;
  }
.banner {
  width: 100%;
  height: 100%;
}
.crumbs__nav {
  margin-top: 10px;
}
.crumbs__label {
  background-color: #444;
  color: #cacaca;
  line-height: 20px;
  padding-left: 5px;
  padding-left: 5px;
  position: relative;
  float: left;
}
.crumbs__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.crumbs__content {
  margin-left: 0;
  float: left;
}
.o-iconjs-icon {
  display: inline-block;
  margin-right: 5px;
  background-color: black;
  vertical-align: middle;
}
.svg {
  display: block;
  height: 10px;
  width: 20px;
  fill: currentColor;
}
.tu1 {
  width: 550px;
  height: 270px;
  padding: 10px 5px 5px 20px;
}
.tu2 {
  width: 250px;
  height: 270px;
  padding: 10px 5px 5px 20px;
}
.tu3 {
  width: 260px;
  height: 250px;
  padding: 10px 5px 5px 20px;
}
.banner {
  width: 100%;
  height: 100%;
}