p {
  padding-left: 30px;
  background-color: black;
}
.box {
  background-color: black;
  float: right;
}
a:link nav ul li {
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 13px;
    padding: 10px 5px 10px 5px;
  }
  a {
    text-decoration: none;
  }
  nav {
    background-color: black;
  }
  li {
    display: inline;
  }
  .oop {
    color:cornflowerblue;
    padding: 5px 10px 10px 10px;
    text-align: center;
   1px solid cornflowerblue;
  }
  h1, h2, h3, h4 {
    text-align: center;
    font-size: 25px;
  }
  .zi {
    background-color: white;
  }
  .abb {
    background-color: black;
  }
  h5, h6{
    font-size: 10px;
    color: white;
    background-color: black;
  }
  h6 span {
    text-decoration: underline;
  }